.birds-list
  //- .birds-list__item
  //-   img.birds-item-img(src="https://live.staticflickr.com//607//22136056020_935cb113f9.jpg" alt="birds")
  //-   .birds-item-name Синица
  //-   img.birds-item-badge(src=require("Img/x.svg"), alt="badge")

  //- .birds-list__item
  //-   img.birds-item-img(src="https://live.staticflickr.com//607//22136056020_935cb113f9.jpg" alt="birds")
  //-   .birds-item-name Синица
  //-   img.birds-item-badge(src=require("Img/x.svg"), alt="badge")

  //- .birds-list__item
  //-   img.birds-item-img(src="https://live.staticflickr.com//607//22136056020_935cb113f9.jpg" alt="birds")
  //-   .birds-item-name Синица
  //-   img.birds-item-badge(src=require("Img/x.svg"), alt="badge")

  //- .birds-list__item
  //-   img.birds-item-img(src="https://live.staticflickr.com//607//22136056020_935cb113f9.jpg" alt="birds")
  //-   .birds-item-name Синица
  //-   img.birds-item-badge(src=require("Img/x.svg"), alt="badge")

  //- .birds-list__item
  //-   img.birds-item-img(src="https://live.staticflickr.com//607//22136056020_935cb113f9.jpg" alt="birds")
  //-   .birds-item-name Синица
  //-   img.birds-item-badge(src=require("Img/x.svg"), alt="badge")

  //- .birds-list__item
  //-   img.birds-item-img(src="https://live.staticflickr.com//607//22136056020_935cb113f9.jpg" alt="birds")
  //-   .birds-item-name Синица
  //-   img.birds-item-badge(src=require("Img/x.svg"), alt="badge")