.backstage__slider
  .backstage__slider-container 

    .item.radius-5
      .item__overlay
      img.item__img(src=require("Img/slider-backstage/1.jpg") alt="")
      .item__inner-wrap
        .header-item giant Pandas
        .text-item Native to Southwest China
      img.banana-bamboo_icon(src=require("Img/slider-backstage/banana-bamboo_icon.png"), alt="banana-bamboo")
    .item.radius-5
      .item__overlay
      img.item__img(src=require("Img/slider-backstage/2.jpg") alt="")
      .item__inner-wrap
        .header-item Eagles
        .text-item Native to South America
      img.meet-fish_icon(src=require("Img/slider-backstage/meet-fish_icon.png"), alt="meet-fish")
    .item.radius-5
      .item__overlay
      img.item__img(src=require("Img/slider-backstage/3.jpg") alt="")
      .item__inner-wrap
        .header-item Gorillas
        .text-item Native to Congo
      img.banana-bamboo_icon(src=require("Img/slider-backstage/banana-bamboo_icon.png"), alt="banana-bamboo")
    .item.radius-5
      .item__overlay
      img.item__img(src=require("Img/slider-backstage/4.jpg") alt="")
      .item__inner-wrap
        .header-item Two-toed Sloth
        .text-item Mesoamerica, South America
      img.banana-bamboo_icon(src=require("Img/slider-backstage/banana-bamboo_icon.png"), alt="banana-bamboo")
    .item.radius-5
      .item__overlay
      img.item__img(src=require("Img/slider-backstage/5.jpg") alt="")
      .item__inner-wrap
        .header-item cheetahs
        .text-item Native to Africa
      img.meet-fish_icon(src=require("Img/slider-backstage/meet-fish_icon.png"), alt="meet-fish")
    .item.radius-5
      .item__overlay
      img.item__img(src=require("Img/slider-backstage/6.jpg") alt="")
      .item__inner-wrap
        .header-item Penguins
        .text-item Native to Antarctica
      img.meet-fish_icon(src=require("Img/slider-backstage/meet-fish_icon.png"), alt="meet-fish")

  .control-buttons 
    .button.orange.big.left
      span.mdi.mdi-arrow-left-thin
    .button.orange.big.right
      span.mdi.mdi-arrow-right-thin