.backstage__slider
  .slider-container
    .item
      img(src=require("Img/slider-backstage/1.jpg") alt="")
      .item__heder 
      .item__text
    .item
      img(src=require("Img/slider-backstage/2.jpg") alt="")
      .item__heder 
      .item__text
    .item
      img(src=require("Img/slider-backstage/3.jpg") alt="")
      .item__heder 
      .item__text
    .item
      img(src=require("Img/slider-backstage/4.jpg") alt="")
      .item__heder 
      .item__text
    .item
      img(src=require("Img/slider-backstage/5.jpg") alt="")
      .item__heder 
      .item__text
    .item
      img(src=require("Img/slider-backstage/6.jpg") alt="")
      .item__heder 
      .item__text
