footer#footer
  .container
    .row-inner
      .column-inner 
        .logo
          a.logo_link(href='/')
            p.logo__name PetStory online
            img.logo__icon(src=require("Img/bamboo.png"), alt="logo_icon")
      .column-inner 
        .subscribe-form
          h4 Subscribe to our news
          include Forms/subscribe-form/subscribe-form.pug
    .row-inner.button-row
      .column-inner   
        a.button.orange.big.radius-5.uppercase(href='donate.html')
          span donate for volunteers
    .row-inner
      .column-inner
        .socials 
          .socials__social 
            a.social-icon(href='javascript://')
              img.facebook(src=require('Img/social_network.svg') alt="Facebook")
              span Facebook
            a.social-icon(href='javascript://')
              img.twitter(src=require('Img/social_network.svg') alt="Twitter")
              span Twitter
            a.social-icon(href='javascript://')
              img.instagram(src=require('Img/social_network.svg') alt="Instagram")
              span Instagram
            a.social-icon(href='javascript://')
              img.youtube(src=require('Img/social_network.svg') alt="YouTube")
              span YouTube
      .column-inner 
        include Blocks/menu/menu.pug
      .column-inner 
        .footer__author 
          p Designed by © Predibaylo Maxim
          p ©RSSchool ©2022
